/*td, th, table {
	vertical-align:middle !important;
	text-align: center !important;
}

.input-group {
	margin:20px 0px;
}

svg {
	height: 110px;
}

td:first-of-type, td:first-of-type > div {
	height: 200px;
	width: 250px;
}
*/


.container{
	margin-bottom: 50px;
	margin-top: 50px;
}

#date {
	margin-top: 15px;
	text-align: center !important;
	font-size:0.9rem;
}

.row{
	padding-top: 20px;
}

a:link {
	text-decoration: none !important;
}

.grid div{
	border: 0.5px #E8E8E8 solid;
	overflow: hidden;	
	height:200px;
}


a img{	
    transform: scale(1.5);	
}

.details img{
	border: 1px #E8E8E8 solid;
}	 






