.container{
	/* margin-bottom: 50px;
	margin-top: 50px; */
	widows: 150%
}

#date {
	margin-top: 15px;
	text-align: center !important;
	font-size: 1.4rem;
}

.row{
	padding-top: 20px;
}

a:link {
	text-decoration: none !important;
}

.grid div{
	border: 0.5px #E8E8E8 solid;
	overflow: hidden;	
	height:200px;
}

#next{
 left: 70px;
}

#previous{
	right:70px;
}




.slide{
	position: relative;
	top: 175px;
	/* margin: 0 150px 0 150px;	 */
	height: 40px;
	width: 40px;
}

#button-div{	
	display:flex;
    justify-content: center; 
}

/* a img{	
    transform: scale(1.5);	
} */

path{
	height: 40px;
	width: 40px;
}

svg.slide{
	width:40px;
}


/* #detail-container{
	height: 100%;
} */

.center-block, #date{
	position: relative;
	top:200px;
}

#img_details{
	width:100% !important;
	padding: 0px;
	/* height: 568px; */
	height: 0px;
}

.time{
	font-weight: bold;
}

.icon_bin{
	position: relative;
	height: 25px;
	width: 25px;
	top: 30px;
	left:-22px;
}

.icon_bin:hover {
    fill: blue;
    cursor: pointer;
} 

#icon_edit:hover {
    fill: blue;
    cursor: pointer;
} 

#back-home{
	position: relative;
	top:175px;
}

.slide:hover{
	fill: blue;
    cursor: pointer;
}  


.inactive{
	fill: grey;
}


.inactive:hover{
	fill: grey;   
	cursor:context-menu; 
} 

img{
	user-select: none;
}

#loader{
	position: absolute;
	top:calc(50% - 50px);
	left:calc(50% - 50px);
	display: block;
	width:100px;
	height:100px;
	text-align: center;
}

#pillar{
	position: absolute;
	width: 100px;
	height: 500px;
	border: solid black 1px;
}

#icon_edit{
	position: relative;
    height: 22px;
    width: 22px;
	top: 30px;
	left: 24px;
}

button{
	z-index: 100000;
}
